.registration {
  margin: 0 auto;
  padding-top: 3rem;
  min-height: 100vh;
}

.registration__heading {
  text-align: center;
  width: fit-content;
  margin: 0 auto 32px;
}

.registration__title-wrap {
  display: flex;
  flex-direction: column;
}

.registration__underline {
  width: 256px;
  align-self: flex-end;
}

.registration__title {
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
  color: #333;
}

.registration__subtitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 32px;
  color: #333;
}

.registration__form {
  max-width: 464px;
  margin: auto;
  padding: 32px;
  background: #fff;
  box-shadow: -2px -2px 6px rgba(0,107,194,.12),2px 2px 6px rgba(0,107,194,.12);
  border-radius: 12px;
}

.registration__google {
  margin-bottom: 24px;
}

.google__btn {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 10px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.12),0 0 4px 0 rgba(72,72,72,.2),0 0 2px 0 rgba(51,51,51,.16);
  outline: none;
  border: none;
  color: #484848;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

.google__btn--icon {
  width: 24px;
  height: 24px;
}

.registration__divider {
  display: flex;
  justify-content: center;
}

.registration__divider--text {
  display: block;
  text-align: center;
  position: relative;
  color: #666;
  font-weight: 500;
  width: 100%;
}

.registration__divider--text::before,
.registration__divider--text::after  {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 45%;
  height: 1px;
  background-color: #ddd;
}

.registration__divider--text::after {
  left: 55%;
}

.form {
  margin-top: 1rem;
}

.form__group {
  display: grid;
  gap: 4px;
  margin-bottom: 1rem;
}

.form__label {
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

.form__filled {
  padding: 11px;
  background: #fff;
  color: #484848;
  border: 1px solid #DDD;
  border-radius: 3px;
  font-size: 14px;
  height: 40px;
  outline: none;
  font-family: "Inter", sans-serif;
  transition: border .2s ease-in;
}

.form__filled:hover {
  border-color: #00A5EC;
}

.form__filled:focus {
  border-color: #00A5EC;
}

.form__name-group {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.form__group--inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 6px;
  gap: 4px;
}

.form__group--inner:last-child {
  padding-right: 0;
  padding-left: 6px;
}

.form__terms {
  font-size: 12px;
  font-weight: 400;
  color: #484848;
  line-height: 1.5;
}

.terms--link {
  font-weight: 500;
  color: #008BDC;
  cursor: pointer;
}

.form__btn-wrap {
  margin: 12px 0 16px;
}

.form__btn {
  width: 100%;
  padding: 11px 0;
  background: #00A5EC;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #00A5EC;
  font-weight: 600;
  min-width: 80px;
  line-height: 1.14;
  font-size: 14px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.form__reg {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  counter-reset: #333;
}

.form__reg--login {
  color: #008BDC;
  cursor: pointer;
}