/*==== Using "Poppins" fonts from fonts.google.com ====*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/*==== CSS variables ====*/
:root {
  /*==== Font and typography ====*/
  --body-font: "Inter", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*==== Font-weight ====*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*==== Margin Bottom Short ====*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*==== z-index ====*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*==== "font-size" for large devices ====*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*==== Base ====*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==== Reuseable CSS classes ====*/
.section {
  padding: 2rem 0 4rem;
}

/*==== Layout ====*/
.container {
  max-width: 1224px;
  padding-left: var(--mb-1);
  padding-right: var(--mb-1);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =-= Header =-= */
.header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 2px;
}

/* =-= Navigation =-= */
.nav {
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: block;
  margin-top: -9px;
}

.nav__logo--img {
  width: 112px;
}

.nav__list {
  display: flex;
  gap: 2rem;
}

.nav__link {
  font-size: 14px;
  color: #484848;
  font-weight: 500;
}

/* =-= Jobs area =-= */
.jobs {
  margin: 0 auto;
  padding-top: 3rem;
}

.jobs__number-wrap {
  max-width: 616px;
  margin-right: auto;
  margin-left: calc(50% - 138px);
}

.jobs__number {
  font-size: 18px;
  line-height: 1.33333333;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 8px;
}

.jobs__feature {
  display: flex;
  margin: 24px auto 40px;
  min-height: 734px;
  max-width: 956px;
}

.jobs__filters {
  width: 316px;
  margin-top: 4px;
}

.filters {
  width: 100%;
  background-color: #fff;
  padding: 23px;
  border: 1px solid #eee;
  border-radius: 6px;
}

.fiters__title {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  color: #484848;
  margin-bottom: 1rem;
}

.fiters__title--icon {
  color: #008bdc;
  margin-right: 4px;
  align-self: center;
}

.filters__form {
  display: grid;
  gap: 1rem;
}

.filters__search--label,
.category__label,
.location__label {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #333;
}

.filers__search-filled {
  display: flex;
}

.search__input {
  padding: 9px 11px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.14;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.search__btn {
  background: #008bdc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  border: 1px solid #008bdc;
  border-radius: 0 3px 3px 0;
}

.search__btn--icon {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #fff;
}

.filters__category,
.filters__location {
  display: grid;
}

.location__dropdown,
.category__dropdown {
  padding: 9px 11px;
  background: #fff;
  border: 1px solid #ddd;
  font-size: 14px;
  line-height: 1.14;
  border-radius: 3px 0 0 3px;
  outline: none;
}

.filters__checkboxes {
  display: grid;
  grid-gap: 0.975rem;
}

.filter__checkbox-item {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.filter__checkbox-item label {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  color: #333;
}

.filter__checkbox-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.filters__clear {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.filters__clear span {
  color: #008bdc;
}
